body {
    background-color: #346751;
    color: #C84B31;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}
.main {
    margin: 0 auto 0 auto;
    width: 270px;
    height: 270px;
    float: none;
}
h1 {
    color: #ECDBBA;
    width: 250px;
    height:105px;
    margin: 0 auto;
}
h2 {
    font-size: 30px;
    color: #ECDBBA;
}
h3 {
    font-size: 30px;
    color: #ECDBBA;
}

img {
    width: 105px;
    height: 105px;
}
.contact {
    width: 300px;
    height: 200px;
    margin: 0 auto 0 auto;
    text-align: center;
    
}
